body {
    background: linear-gradient(rgb(255, 105, 180), rgb(255, 186, 0));
    /* default body font family goes here  */
    font-family: 'Nunito', sans-serif;
    color: #00263e;
}

.container {
    padding: 1rem;
    position: relative;
}

/* ************************ typography ****************************** */
h1 {
    color: #00263e;
    text-decoration: none;

}

h1 {
    letter-spacing: 5px;
}

h1::first-letter {
    color: rgb(255, 105, 180);
}

h2 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
}

/* ************************ header ****************************** */

header {
    background-color: #fff;
}

.menu-icon {
    width: 40px;
    text-align: center;
    cursor: pointer;
    
}

header .flex-container {
    display: flex;
    justify-content: space-between;
}

header a svg {
    width: 15px;
    height: 15px;
}

.main-menu li {
    line-height: 85px;
    margin: 0 25px;
    border-bottom: 1px solid #e3eaf3;
    white-space: nowrap;
}

.main-menu li:last-of-type {
    border-bottom: none;
}

.main-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f89d70;
    font-weight: 700;
    display: block;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.main-menu a:hover,
.main-menu a:active {
    background-color: #e3eaf3;
    border-radius: 5px;
}

.dropdown-menu a {
    color: #00263e;
    font-weight: 400;
    text-transform: none;
}

.main-menu svg:last-of-type {
    /* this only works inside a flex container */
    margin-left: auto;
}

.main-menu svg:first-of-type {
    margin-right: 10px;
}

/* ****** hide/ show dropdowns with hover effect ******** */

.dropdown-menu {
    max-height: 0;
    overflow: hidden;
}

.main-menu li:hover > .dropdown-menu {
    max-height: 100vh;
}

/* ********* hide/ show main menu with toggle icon ******** */
nav {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    transition: all 0.6s ease;
}

.show-nav {
    max-height: 100vh;
}

.wide-menu {
    display: none;
    position: absolute;
}

@media only screen and (min-width: 1300px) {
    .container {
        padding: 1rem 0;
        max-width: 80rem;
        margin: 0 auto;
    }

    .menu-icon {
        display: none;
        /* overflow: hidden; */
    }

    .wide-menu {
        display: flex;
        right: 0;
        justify-content: space-between;
        width: 50%;
    }

    .main-menu li {
        line-height: 40px;
        border-bottom: none;

    }

    .main-menu a {
        background-color: white;
        /* width: 100vw; */
        width: 100%;
    }

    .main-menu ul li {
        width: 200%;
    }
}